.left-sidebar {
  height: 375px;
  width: 250px;
  position: fixed;
  top: 139px;
  left: 60px;
  background-color: yellow;
  color: green;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-sidebar li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: yellow;
}

.left-sidebar li .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.left-sidebar li h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.left-sidebar li a {
  color: inherit;
  text-decoration: none;
}
