@import url('Components/Connexion/Connexion.css');
@import url('Components/Inscription/Inscription.css');
@import url('Components/Bar/LeftSidebar.css');
@import url('Components/Bar/Navbar.css');
@import url('Components/Accueil/Accueil.css');